@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBEB;
    color: #022F40;
}

h2 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.4em;
}

/* Reusable classes */

.width-20pr {
    width: 20%;
}

.width-25pr {
    width: 25%;
}

.width-30pr {
    width: 30%;
}

.width-33pr {
    width: 33%;
}

.width-50pr {
    width: 50%;
}

.width-60pr {
    width: 60%;
}

.width-70pr {
    width: 70%;
}

.width-80pr {
    width: 80%;
}

.width-90pr {
    width: 90%;
}

.width-100pr {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.img-padding {
    padding: 10px;
}

.section-button {
    color: #EBEBEB;
    padding: 8px 15px;
    background-color: #6369D1;
    border-radius: 50px;
}

iframe {
    margin: 25px 0;
    width: 100%;
}

.bijlage-wrapper {
    display: flex;
    flex-direction: column;
}

.bijlage-wrapper a {
    text-decoration: underling;
    color: blue;
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.flex-center {
    display: flex;
    justify-content: center;
}