footer {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0 15px;
    background-color: white;
}

footer nav {
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: #2E2C2F;
    margin-right: 40px;
    transition: 0.2s;
}

footer a:hover {
    border-bottom: solid;
}

