.content-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 15px;
    margin: 50px 0;
}

.content-container a {
    text-decoration: underline;
}

.content-container * {
    grid-column: 2/3;
}

.content-container h1, .content-container h2 {
    text-align: center;
}

.img-placeholder {
    background-color: #d6d6d6;
    width:80%;
    height:300px;
    position: absolute;
    z-index: -1;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

iframe {
    position: relative;
}

.img-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    position: relative;
    min-height: 300px;
}

.img-wrapper img {
    /* padding: 25px 0; */
    object-fit: contain;
}

@media screen and (max-width:768px) {
    .content-container * {
        grid-column: 1/4;
    }
}



